.accordion__item {
    display: flex;
    margin-bottom: 16px;
}

.accordion__item_active {
    color: #F06000;
}

.accordion__item:last-of-type {
    margin-bottom: 33px;
}

.accordion:last-of-type .accordion__item:last-of-type {
    margin-bottom: 0;
}