.content__result {
  width: 680px;
  min-height: 142px;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}
