.video__range {
    border-radius: 16px;
    height: 6px;
    outline: none;
    -webkit-appearance: none;
}

.video__range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    background: #ffffff;
    border-radius: 10px;
}