.content__checkbox {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/checkbox_idle.svg);
}

.content__invisible:checked + .content__checkbox {
  background-image: url(../../../images/checkbox_checked.svg);
}

.content_choose_right:checked + .content__checkbox {
  background-image: url(../../../images/answer_correct.svg);
}
.content_choose_fail:checked + .content__checkbox {
  background-image: url(../../../images/answer_fail.svg);
}
.content_choose_null:not(:checked) + .content__checkbox {
  background-image: url(../../../images/answer_not-choose.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.content__invisible:checked ~ .content__text {
  color: #f06000;
}

.content_choose_right:checked ~ .content__text {
  color: #008000;
}

.content_choose_fail:checked ~ .content__text {
  color: #ff0000;
}

.content_choose_null:checked ~ .content__text {
  color: #212329;
}
