.content__radio {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin-right: 9px;
  width: 22px;
  height: 22px;
  background-image: url(../../../images/radio_idle.svg);
}

.content__invisible:checked + .content__radio {
  background-image: url(../../../images/radio_checked.svg);
}

.content__invisible:checked ~ .content__text {
  color: #f06000;
}
