.content__main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    max-width: 680px;
    text-align: center;
    margin: 0 64px 24px;
}

.content__main-text:last-of-type {
    margin-bottom: 32px;
}