.aside__filter-items {
	max-height: 0px;
	margin: 0;
	opacity: 0;
	list-style: none;
	overflow: hidden;
	transition: max-height 0.2s;
}

.aside__filter-block_active .aside__filter-items {
	max-height: 100vh;
	padding-top: 32px;
	padding-left: 0;
	opacity: 1;
}
