.video__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 28px;
  fill: #fff;
  margin-right: 35px;
}